@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Teko:wght@300&display=swap');

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}



body {
    display: flex;
    flex-direction: column; 
    text-align: center;
    font-family:'Teko', sans-serif;
    color: #4C5175;
    background-color: #B7C8CB; 
    background-image: url("./../multimedia/pared.jpg")
}

h1{
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}

h2{
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 0.9px;
    text-align: center; 
}

#input {
    width: 25rem;
    font-family:'Teko', sans-serif;
    font-size: 2rem;
    font-weight: 550;
    letter-spacing: 0.2px;
    border-radius: 30px;
    border-style: none;
    outline:#4C5175;
    padding: 0.5rem;
    margin: 1rem;
}

#label {
    width: 125px;
    height: 50px;
    border-style: none;
    font-family:'Teko', sans-serif;
    font-size: 2rem;
    font-weight: 550;
    letter-spacing: 0.2px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    overflow: none;
    outline: none;
   
}

ul {
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 50vh;
    width: 70vw;
    text-align: center;
    gap: 1rem;
    font-size: 1.8rem;
    font-weight: 550;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 0.1rem;
    border-radius:  30px;  
    padding: 1rem;
    border: 0.2rem solid black;
    list-style: none;
    background-image: url("./../multimedia/corcho.jpg");
}

li.task {
    display: flex;
    height: 200px;
    width: 200px;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 30px;
    cursor: pointer;

 
    
}



li span, li p {
    transform: rotateZ(-2deg);
}

li span:nth-child(2){
    font-size: 1.2rem;
} 

li span:nth-child(1){
    font-size: 1.5rem;
}

#taskList{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#prioridad {
    font-size: 2.5rem;
    font-weight: 550;
    letter-spacing: 0.5px;
    margin: 0.5rem;
}

/*tarea hecha*/
.done{
    background-image: url("./../multimedia/post-it-hecho.png");
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

/*tarea para hacer*/
.toDo{
    background-image: url("./../multimedia/post-it.png");
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/*boton añadir*/
#addButton {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(85, 120, 85);
    color: #B7C8CB;
    border: none;
    padding: 0.20rem;
    margin: 0.5rem;
    cursor: pointer;

}

#addButton:hover {
    background-color: rgb(110, 176, 110);
}

/*boton eliminar*/

#cleanButton > img{width: 25px;} 
#cleanButton {
    align-self: center;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(219, 96, 96);
    border: none;
    padding: 0.3rem;
    margin: 0.5rem;
    cursor: pointer;
    
}

#cleanButton:hover {
    background-color:  rgb(188, 73, 73); 
}



