@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Teko:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body {
    display: flex;
    flex-direction: column; 
    text-align: center;
    font-family:'Teko', sans-serif;
    color: #4C5175;
    background-color: #B7C8CB; 
    background-image: url("./../multimedia/fondo-tareas.jpg")
}

h1{
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}

h2{
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 0.9px;
    text-align: center; 
}

#input {
    width: 25rem;
    font-family:'Teko', sans-serif;
    font-size: 2rem;
    font-weight: 550;
    letter-spacing: 0.2px;
    border-radius: 30px;
    border-style: none;
    outline:#4C5175;
    padding: 0.5rem;
    margin: 1rem;
}

#label {
    width: 100px;
    height: 50px;
    border-style: none;
    font-family:'Teko', sans-serif;
    font-size: 2rem;
    font-weight: 550;
    letter-spacing: 0.2px;
    text-align: center;
    border-radius: 15px;
   
    
}

ul {
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 50vh;
    width: 70vw;
    text-align: center;
    gap: 1rem;
    font-size: 2rem;
    font-weight: 550;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 0.1rem;
    border: 1px solid black;
    border-radius:  30px;  
    padding: 1rem;
    list-style: none;
    background-image: url("./../multimedia/corcho.jpg");
}

li.task {
    display: flex;
    height: 200px;
    width: 200px;
    flex-direction: column;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 30px;
    cursor: pointer;
  
    
}

#taskList{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.done{
    background-color: rgb(168, 163, 163);
    
}

.toDo{
    background-color: rgb(161, 219, 161);
    border-radius: 30px;
}

#addButton {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(85, 120, 85);
    color: #B7C8CB;
    border: none;
    padding: 0.20rem;
    margin: 0.5rem;

}

#addButton:hover {
    background-color: rgb(110, 176, 110);
}

#cleanButton > img{width: 25px;} 
#cleanButton {
    align-self: center;
    width: 90px;
    height: 35px;
    border-radius: 30px;
    background-color: rgb(177, 104, 104);
    border: none;
    padding: 0.3rem;
    margin: 0.5rem;
    
}

#cleanButton:hover {
    background-color:  rgb(188, 73, 73); 
}

#prioridad {
    font-size: 2.5rem;
    font-weight: 550;
    letter-spacing: 0.5px;
    margin: 0.5rem;
}

